<odoo>

    <menuitem id="menu_mentoring_root"
              name="Mentoring System"
              sequence="1"/>

    <menuitem id="menu_master_data"
              name="Master Data"
              parent="menu_mentoring_root"
              sequence="2"/>

    <menuitem id="menu_mahasiswa"
              name="Mahasiswa"
              parent="menu_master_data"
              sequence="1"/>

    <menuitem id="menu_mentor"
              name="Mentor"
              parent="menu_master_data"
              sequence="2"/>

</odoo>